:root {
  --primary-color: #d70018;
  --pink-color: #fee2e2;
  --red-bold-color: #740f1a;
  --white-color: #fff;
  --yellow-color: yellow;
  --blue-color: #5d5cde;
  --height-header: 60px;
  --height-path: 40px;
  --margin-detail-page: 200px;
  --width-sidebar: 200px;
  --width-side-bar: 100px;
}
